.WinnerScreen {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.8);


  span {
   
    padding-top: 150px;
    align-self: center;
    font-family: "Bernier Shade";
    font-size: 80px;
  }
}
