
.GameArea {
    border: 3px solid rgb(161, 157, 157);
    min-width: 120px;
    min-height: 120px;
    transition-duration: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
  }

  .GameArea:hover {
    background: rgba(148, 144, 144, 0.264);
  }
