body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.AppContainer {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 5%;
}

center {
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
  max-width: 400px;
  max-height: 400px;
  margin-bottom: 20px;

  div {
    border: 3px solid rgb(161, 157, 157);
    min-width: 120px;
    min-height: 120px;
    transition-duration: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
  }

  div:hover {
    background: rgba(148, 144, 144, 0.264);
  }
}
